@page "/set-lang"
@inject LangService _ls

<h3>@_ls["set-lang"]</h3>
<hr />
<div>
    @if (cultures is null) {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var i in cultures)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" name="@i" checked="@(culture==i)" @onclick="()=>ChangeLang(i)">
                <label class="form-check-label" for="@i" style="margin-left:8px;">@_ls[i.ToString().ToLower()]</label>
            </div>
            <br>
        }
    }
    <hr />
    <em>@_ls["cur-lang"]: @_ls[culture.ToLower()]</em>
</div>

@code {
    string culture;
    string[] cultures;

    protected override async Task OnInitializedAsync()
    {
        culture = LangService.CurrentCulture;
        cultures = await _ls.GetCultures();
    }

    async Task ChangeLang(string selectedCulture)
    {
        culture = selectedCulture;
        await _ls.LoadLanguageAsync(selectedCulture);
    }
}
